@{
    ViewData["Title"] = "Home Page";
}

<div id="hero" class="bg-section mt-3 border-section">
    <div class="container py-5">

        <div class="row g-5 py-5 flex-row-reverse">
            <div class="col-lg-6">

                <img class="img-fluid" src="~/imgs/restaurant.png" alt="Restaurant Hero Image" />

            </div>
            <div class="col-lg-6">

                <div class="text-center text-lg-start">
                    <h1 class="title-text fw-bold mt-3">
                        <div>Enjoy the Taste of</div>
                        <div>Premium Meals</div>
                    </h1>
                    <h4 class="sub-title-text mt-3">We make the best burger in the Country</h4>

                    <button class="btn btn-hero mt-4">Order Now</button>
                </div>

            </div>
        </div>
    </div>
</div>