@using EN.SuperRestaurant.MVC.Models.Orders
@model UpdateOrderViewModel

@{
    ViewData["Title"] = "Edit Order";
}

<div class="container">

    <h1>
        Edit Order
        <span class="text-primary">#@Model.Id</span>
    </h1>

    <hr />

    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />

                <div class="form-floating mt-3">
                    <select asp-for="MealIds" class="form-control select-2" asp-items="@Model.MealLookup"></select>
                    <label asp-for="MealIds" class="control-label"></label>
                    <span asp-validation-for="MealIds" class="text-danger"></span>
                </div>

                <div class="form-floating mt-3">
                    <input asp-for="Notes" class="form-control" placeholder="Notes" />
                    <label asp-for="Notes" class="control-label"></label>
                    <span asp-validation-for="Notes" class="text-danger"></span>
                </div>

                <div class="form-group mt-4">
                    <a class="btn btn-secondary" asp-action="Index">Cancel</a>
                    <input type="submit" value="Save" class="btn btn-primary ms-2" />
                </div>
            </form>
        </div>
    </div>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
